<title>Rubie</title>
<h1 class="item text-center">Grey Slant Dress</h1>
<div class="row"> 
  <div class="col-lg-offset-2 col-lg-3">
    <img class="jacket" src="http://i.imgur.com/kOELuBS.jpg?1">
  </div>
  <div class="col-lg-offset-1 col-lg-2">
    <img class="price" src="http://i.imgur.com/lCCQ5eK.jpg?1"><br/>
    <img class="colors" src="http://i.imgur.com/1lGi2V5.jpg?3"><br/>
    <img class="colors" src="http://i.imgur.com/LpJDzEh.jpg?1"><br/><br/><br/><br/>
    <div class="col-lg-2">
      <a class="btn btn-lg location" role="button" href="/map">Location: A1</a><br/><br/>
    </div>
  </div>
  <div class="col-lg-offset-2 col-lg-10">
    <h1 class="gem text">Want The Look of Rubies?</h1>
  </div>
  <div class="col-lg-offset-3 col-lg-10"> 
    <a href="/dress"><img class="celebs" src="http://i.imgur.com/OQCf8wK.jpg?1"></a><br/>
  </div>
</div>



