<title>Rubie</title>
<h1 class="item text-center">Grey Slant Dress</h1>
<div class="row"> 
  <div class="col-lg-offset-1 col-lg-2">
    <img class="jacket" src="http://i.imgur.com/gvLqPm5.jpg?2">
  </div>
  <div class="col-lg-offset-1 col-lg-2">
    <img class="price" src="http://i.imgur.com/vc5x398.jpg?3"><br/>
    <img class="colors" src="http://i.imgur.com/RQdiNBh.jpg?5"><br/>
    <img class="colors" src="http://i.imgur.com/y0zJgqg.jpg?3"><br/>
   
    <a href="/suggestions"><img class="colors" src="http://i.imgur.com/pKvmAaE.jpg?2"></a><br/><br/>
    <a class="btn btn-lg location" role="button" href="/outfit">Location: A3</a>
  </div>
</div>

<!-- 
<div class="row"> 
  <div class="col-lg-offset-4 col-lg-4">
    <a class="suggestions btn btn-primary text-center" role="button" href="/suggestions">Suggestions</a>
  </div>
</div>
 -->

