<title>Rubie</title>
<div class="row">
<div class="jumbotron item text-center col-lg-offset-2 col-lg-8">
  <h1>Welcome to Rubie</h1>
  <a href="/details"><img src="http://i.imgur.com/EQfJOIz.jpg?1"></a>
  <h2>A personal shopper at your fingertips</h2>
</div>
</div>