<div class="map">

  <div class="row">
    <div class="col-lg-offset-12 col-lg-2">
    <h1 class="item text-center">Map</h1>
    </div>
    <div class="col-lg-offset-9 col-lg-2">
      <div class="jumbtron">
        <a href="/dress"><img src="http://i.imgur.com/EuLLdM9.jpg?2" title="source: imgur.com" /></a>
      </div>
    </div>
    </div>
  </div>
</div>