@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Delius+Unicase);

.navbar {
  font-size: 20px;
 font-family: 'Delius Unicase', cursive;
  background-color: #27B0BA; 
  background-image: none;
  background-repeat: no-repeat;
  opacity: 0.75;
  border-radius: 0px;
  color: white;
  padding-top: 2px;

}
.navbar-left {
  padding-left: 20px;
}

.suggestions {
  background: #3275C1;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 50px;
  position: absolute;
  
}
.location {
 background-color: #4AB9C1;
 color: white;
 font-weight: bold;
 font-size: 30px;

}
.gem {
  font-size: 60px;
  padding-top: 20px;
  color: #27B0BA;
}
.celebs {
  padding-top: 15px;

}
.complete {
  font-size: 60px;
  padding-top: 5px;
  color: #27B0BA;
}
.item {
  font-size: 60px;
}
.center{
  position: center;
}
.jacket {
  padding-bottom: 20px;
  clear: both;
}
.dress{
  padding-bottom: 0px;
  clear: both;
}
.necklace {
  padding-bottom: 20px;
  clear: both;
}
.final {
  padding-bottom: 20px;
  font-size: 60px;
}

.map {
  position: absolute;
}
.sale {
  font-size: 60px;
  color:#C00000;
  padding-bottom: 50px;
}

body {
  margin-top: 60px;
  margin-bottom: 60px;
 font-family: 'Delius Unicase', cursive;
}
html {
  background-image: URL("http://i.imgur.com/dAvRRz4.jpg");
  background-repeat: none;
}
