<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to( image_tag("http://i.imgur.com/tL3AZr6.jpg?3"), "/suggestions" ) %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rubie<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "sales", root_path %></li>
              <li><%= link_to "Map", map_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", root_path, method: "delete" %></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>